<%= simple_form_for @contact_person, :html => { :class => 'form-horizontal' } do |f| %>


  <%= f.error_notification %>
  <%= f.input :name, as: :string %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contact_groups_path, :class => 'btn' %>
  </div>

<% end %>
